@font-face {
  /* trabaja con 300, 400, 700 */
  font-family: 'Sulphur Point';
  src:  url('./fonts/SulphurPoint-Light.ttf'),
        url('./fonts/SulphurPoint-Regular.ttf'),
        url('./fonts/SulphurPoint-Bold.ttf');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
body{
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 300;
  background-color: #fff;
}
main{
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.women{
 width: 100vw;
 height: 15.5rem;
 object-fit: fill;
}
.formSignUp>.women{
  height: 21rem;
}
/* Estilos de botones submit */
form>input[type="submit"], .btnSignUp { 
  margin: 0.75rem 0;
  background-color: #8BDFE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border:solid 1px transparent;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
  font-size: 1rem;
  font-weight: bold;
}

/* Sign in */
.formLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
} 
.containerSignIn, .containerFormSignUp{
  width: 350px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  object-fit: fill;
}
.save{
  margin: 0.75rem 2rem;
  background-color: #8BDFE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border:solid 1px transparent;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
  font-size: 1rem;
  font-weight: bold;
}
.tituloLogin{
  padding: 4rem 0 1rem;
  font-size: 2.75rem;
  text-align: center;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.emailLogin,
.passLogin
{
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 15rem;
  height: 1rem;
  background-repeat: no-repeat;
}

.emailLogin{
  background-image: url(./img/email.png);
  background-position: 13.25rem;
  background-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.eye{
  display: flex;
  align-items:center;
  position: relative;
  justify-content: center;
  color: black;
}
.iconEye

 {
  color: #EAC9E2;
  position: absolute;
  right: 55px;
  margin: 5px;
  cursor: pointer;
  top: 10%;
}
.forgetpass{
  text-decoration: none;
  font-size: 14px;
}
.acountP{
  font-size: 15px;
}
.registerUser{
  display: flex;
  flex-wrap: wrap;
}
.registerUser>a{
  text-decoration: none;
  padding: 0 0.5rem;
}
/* iconos google y facebook */
.iconos_sesion{
  display: flex;
  justify-content: center;
}
.btn-google, .btn-facebook, .btn-github{
  margin: 1rem 0.2rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* Sign up */
.formSignUp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tituloSignUp{
  padding: 2.5rem 1rem 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.divUserSignUp, .divEmailSignUp{
  justify-content: center;
  position: relative;
  display: flex;
}

.userSignUp,
.emailSignUp,
.passSignUp{
  background-color: #fff !important;
  justify-self: center;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  padding: 1rem;
  width: 17rem;
  height: 2rem;
}
.iconUser, .iconEmail{
  color: #EAC9E2;
  position: absolute;
  right: 50px;
  margin: 5px;
  top: 10%;
}
.signUpErrors{
  width: 17rem;
  height:auto;
  font-size: 0.75rem;
  font-weight: 700;
  border: 0px solid transparent;
  border-radius: 0.5rem;
  color:#ff0000;
  text-align: center;
}

/* Profile Register */
.tituloProfileRegister{
  padding-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.camera{ 
  border-radius: 100%;
  padding: 1rem 0 0 0;
}
.textCamera{
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
}
hr{
  width: 20rem;
  height: 3px;
  margin: 0.1rem 0 0.7rem 0;
  background-color: white;
  border: 0px solid white;
}
.fullName,
.nickname,
.ocupation,
.email,
.age,
.phone{
  justify-self: center;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  padding: 1rem;
  width: 19rem;
  height: 2rem;
}
.introduceYourself{
  justify-self: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 19rem;
  height: 5rem;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
}
.gender{
  justify-self: center;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  padding: 0 0.8rem;
  width: 19rem;
  height: 2rem;
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
}
.pProfileRegister{
  font-size: 0.8rem;
  width: 19rem;
  text-align: left;
  margin-top: 0.2rem;
  line-height: 0.8rem;
}
.required{
  font-size: 0.8rem;
  width: 19rem;
  text-align: left;
  margin-top: 0;
  font-weight: bold;
}

/* Header */
.tituloNews{
  background-color: #8BDFE2;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}
.contentNews{
  background-color: #fff;
}
nav{
  background: #ace5e7;
}
.menu__items{
  display: flex;
  justify-content: center;
}
.menu__items>li{
  list-style-type: none;
  padding: 0.45rem;
}
.menu__items>li>a{
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  /* color: #B9A6E0; */
  
  font-weight: bold;
}

.menu__items>li>a>img{
  width: 2rem;
  height: 2rem;
 
}
/* View Profile */
.viewProfile{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}
.userPhoto{
  border: 2px solid #8BDFE2;
  border-radius: 100%;
  margin: 0.5rem;
  width: 6rem;
  height: 6rem;
}
.fullNameProfile{
  font-weight: bold;
}

.conteoPerfil{
  display: flex;
  justify-content: center;
}
.conteoPublicaciones, .conteoSeguidores, .conteoSiguiendo{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8BDFE2;
  font-weight: bold;
}
.conteo{
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: #8BDFE2;
  color: #fff;
  padding: 2px 1rem;
  margin: 2px 1rem;
}
.presentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(185, 166, 224, 0.5);
  margin: 0.5rem;
  padding: 1rem;
}
.descripcion{
  border: 1px solid transparent;
}
.icono-publicaciones-usuario{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.publicaciones-usuario{
  display: grid;
  grid-template-rows: repeat(3, 6rem);
  grid-template-columns: repeat(3,6rem);
  padding: 1rem;
}
.publicaciones{
  justify-items:center;
  border: 1px solid #B9A6E0;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 0.5rem;
  padding: 1rem;
}

/* News */
/* Vista para guardar la publicación */
.formPost, .userPost {
  width:22rem;
  height:auto;
}
.formPost{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 1px solid #EAC9E2;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
}

.userPost{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #8BDFE2;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
}
.imgPerfil{
  width:1.75rem;
  height: 1.75rem;
}
.userName{
  margin: 0 1rem
}
.postDescription{
  width: 21.5rem;
  height: auto;
  padding: 1rem;
  border: 0px solid transparent;
}
.formPost>.botones{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  color: #8BDFE2;
}
.botones>label{
  color: #000;
  margin: 0 1rem;
}
.btnPostSave {
  margin: 0.75rem 0;
  background-color: #8BDFE2;
  border:solid 1px transparent;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #fff;
  font-size: 1rem;
}

/* Ver los post */
.postContainer, .userPostList,.dataUserP, .data{
  width:22rem;
  height:auto;
}
.postContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem auto;
}
.userPostList{
  border: 1px solid #8BDFE2;
  margin: 1rem 0;
}
.dataUserP{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0.5rem;
}
.botonesListPost{
  display: flex;
  justify-content: flex-start;
}
.btn-delete, .btn-edit{
  margin: 0 3px;
  border: 0px solid transparent;
  background-color: transparent;
  color: #8BDFE2;
  cursor: pointer;
}
.btn-delete{
  color:#ff0000
}
.btn-edit{
  color: #ffa500;
}
.data>textarea{
  border: 1px solid transparent;
  width: 21.5rem;
  height: auto;
   padding: 1rem;
}

.divLikes{
  display: flex;
  justify-content: center;
  border-top:1px solid #8BDFE2;
  margin: 1rem 0;
}
.btn-like{
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  border: 0px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.contLikes{
  margin: 0 0.5rem;
}

@media only screen and (min-width: 1000px) {
  html, body{
    height:100%;
    width: 100%;
  }
  .formLogin, .formSignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    
  }
  .containerSignIn, .containerFormSignUp{
    height: 100%;
    order: -1;
    position: absolute;
    align-self: flex-end;
    background-color: #ffff;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
   
  }
  .emailLogin,
  .passLogin,
  .userSignUp,
  .emailSignUp,
  .passSignUp
  {
  border: 1px solid black;
  }
  .women, .formSignUp>.women{
    width: 50%;
    height: 75%;
    align-self: flex-start;
    object-fit: fill;
  }
  .tituloLogin, .tituloSignUp {
    padding:4rem 0 2rem;
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-self: flex-start;
    width: 50%;
    object-fit: contain;
}
.iconEye, .iconUser, .iconEmail{
  right: 2px;
}
}